@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2%;
    
}

header{
    padding: 40px 0;
}

.logo{
    width: 50%;
}

.menu{
    padding-top: 50px;
    width: 50%;
    text-align: right;
    font-size: 17px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 25px;
     
}

.menu a:hover{
    color: #93E55F;
}

.menu-suspenso{
    float: right;
    overflow: hidden;
}

.texto{
    position: relative;
    margin-top: 90px;
    font-size: 1.4rem;
    
}

.texto h1{
    display: flex;
    color: #93E55F;
    font-size: 4.5rem;
    font-weight: 800;
    margin: 20px 0px 20px;
    line-height: 1.3;
}

.texto h2{
    display: flex;
    font-size: 1.6rem;
    margin: 20px 0px 20px;
    line-height: 1.3;
    color: #93E55F;

}

.texto p{
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    width: 620px;
    max-width: 100%;
    color: white;
    line-height: 30px;
    margin-bottom: 15px;
}

.img{
    right: 300px;
    position: absolute;
    float: right;
    margin-bottom: 50%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    background-color: #1d1d1d;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-blend-mode: normal, normal, screen, overlay, normal;
    box-shadow: 0px 0px 10px 1px #93f55f;
    text-align: center;
    width: 500px;
    
}

label, h1, #meses, #resultado{
    font-weight: bold;
    color: #fff;
}

#resultado{
    padding: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    color: #000000;
}

button {
    padding: 10px 20px;
    background-color: #93f55f;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #93f55f;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 25rem;
  }

input[type="range"]:focus {
    outline: none;
  }

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #000000;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -8px;
    background-color: #93f55f;
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
}

#meses{
    text-align: center;
    position: relative;
    margin: 0 auto;
}



.radio-button-container {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .radio-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .radio-label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .radio-custom {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    
  }
  
  .radio-input:checked + .radio-label .radio-custom {
    transform: translateY(-50%) scale(0.9);
    border: 5px solid #93E55F;
    color: #93E55F;
  }
  
  .radio-input:checked + .radio-label {
    color: #93E55F;
  }
  
  .radio-label:hover .radio-custom {
    transform: translateY(-50%) scale(1.2);
    border-color: #93E55F;
    box-shadow: 0 0 10px #75b64c;
  }

